@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'Avenir-Light';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf');
}

/*** ELEMENT THREE ***/
.dg, .ac {z-index: 999 !important;}
#stats {position: fixed;z-index: 999;}

/*** DEFAULT ***/
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Avenir;
}
* {
  margin: 0;
  padding: 0;
}

audio {
  position: absolute;
  z-index: -1;
}
/*** LOADER ***/
.loader {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  z-index: 999;
  .load-progress {
    position: absolute;
    top: calc(45% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d0c9bf;
    font-size: 1rem;
  }
  .intro-txt {
    position: absolute;
    display: none;
    font-family: Avenir-Light;
    top: calc(45% + 90px);
    width: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d0c9bf;
    text-align: center;
    font-size: 1rem;
  }
}

#main {
  position: absolute;
  top: 0;
  .gsap-btn, .gsap-btn-back {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #757575;
    z-index: 10;
  }
  .gsap-btn-back {
    right: 100px;
  }

  .txt-container {
    color: #FFF;
    position: absolute;
    left: 10%;
    bottom: 10%;
    display: flex;
    font-size: 14px;
    letter-spacing: 4px;
    .hidari {
      text-align: right;
      .txt-f {
      }
      .txt-s {
        margin-top: 5px;
        margin-right: 15px;
      }
    }
    .migi {
      text-align: right;
      margin-top: 20px;
      margin-left: 20px;
      .txt-f {
      }
      .txt-s {
        margin-top: 5px;
        margin-right: 30px;
      }
    }
    &.project-container-hidari, &.project-container-migi {
      bottom: 52vh;
      font-family: Avenir-Light;
      .title {
        color: #FFB73A;
        font-size: 2.3rem;
      }
      .desc {
        font-size: 1em;
      }
      .date {
        margin-top: 30px;
        font-size: 1.1em;
        color: #FFB73A;
      }
    }
    &.project-container-hidari {
      left: 10%;
    }
    &.project-container-migi {
      left: 58%;
    }
  }
  .contact {
    height: 200px;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    //background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: .7;
    .git-icon {
      height: 15px;
      width: 15px;
      cursor: pointer;
      margin-bottom: 20px;
      .st0 {
        fill: #FFF;
        transition: all .3s;
      }
      &:hover {
        .st0 {
          transition: all .3s;
          fill: #FFB73A;
        }
      }
    }
    p {
      color: #FFF;
      font-family: Avenir-Light;
      cursor: pointer;
      transition: all .05s;
      &:hover {
        color: #FFB73A;
        transition: all .05s;
        .hidari {
          margin-right: 7px;
          transition: all .05s;
        }
        .migi {
          margin-right: 2px;
          transition: all .05s;
        }
      }
    }
  }
}

.remove-scene {
  animation: removeOpacity .5s ease-out forwards;
}

@keyframes removeOpacity {
  from { opacity: 1; }
  to { opacity: 0; }
}