@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

/*** ELEMENT THREE ***/
.dg, .ac {z-index: 999 !important;}
#stats {position: fixed;z-index: 999;}

/*** DEFAULT ***/
body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Avenir;
}
* {
    margin: 0;
    padding: 0;
}

audio {
    position: absolute;
    z-index: -1;
}
/*** LOADER ***/
.loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #000;
    z-index: 999;
}
#main {
    position: absolute;
    top: 0;
}

#main .gsap-btn, #main .gsap-btn-back {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #757575;
}
#main .gsap-btn-back {
    right: 100px;
}
.loader .load-progress {
    position: absolute;
    top: calc(45% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFB73A;
    font-size: 2em;
}

.remove-scene {
    animation: removeScene .5s ease-out forwards;
}

@keyframes removeScene {
    from { opacity: 1; }
    to { opacity: 0; }
}
